<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Official</title>
</head>
<body>
    <h1>Add Official</h1>
    {% if error %}
    <div style="color: red;">{{ error }}</div>
    {% endif %}
    <form action="/add_official" method="POST">
        <label for="name">Name (required):</label>
        <input type="text" id="name" name="name" required>
        <br><br>

        <label for="role">Role (required):</label>
        <select id="role" name="role" required>
            <option value="" disabled selected>Select Role</option>
            {% for role in roles %}
            <option value="{{ role.role_name }}">{{ role.role_name }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="licence_number">Licence Number (required):</label>
        <input type="text" id="licence_number" name="licence_number" required>
        <br><br>

        <label for="contact_info">Contact Info (optional):</label>
        <input type="text" id="contact_info" name="contact_info">
        <br><br>

       
        <button type="submit">Add Official</button>
    </form>

    <br>
    <button onclick="window.location.href='/superuser'">Go to Superuser Page</button>
</body>
</html>