<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTAC Dashboard</title>
    <!-- Linking the CSS file from the static directory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script> <!-- Link to the JS file -->
</head>
<body>
    <header>
        <h1>WTAC Dashboard</h1>
    </header>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <p class="flash {{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <section id="dashboard">
        <h2>Dashboard Overview</h2>
        <p>Total Entries : <span id="totalEntries">Loading...</span></p>
        <p>Total Entries By Class:</p>
        <ul id="classEntries">Loading...</ul>
        <p>Total Entries Without Inspection Report: <span id="missingReports">Loading...</span></p>
        <p>Total Entries Without Approval to Start: <span id="notApproved">Loading...</span></p>
        <p>Total Entries With Failed Items: <span id="failedItems">Loading...</span></p>
        <p>Vehicles Denied Start: <span id="deniedStart">Loading...</span></p>
    </section>

    <section id="actions">
        <h2>Actions</h2>
        <button onclick="window.location.href='/add_entry'">Add Entry</button>
        <button onclick="window.location.href='/lookup_entry'">Look Up Entry</button>
        <button onclick="window.location.href='/lookup_entry2'">Look Up Entry Button Style</button>
        <button onclick="window.location.href='/outstanding_items'">View Outstanding Items</button>
        <button onclick="window.location.href='/not_approved'">Not Approved To Start</button>
        <button onclick="window.location.href='/not_presented'">Vehicles Not Yet Presented</button>
        <button onclick="window.location.href='/denied_start'">Serious Fault NOT APPROVED</button>
        <button onclick="window.location.href='/garage_numbers'">View Garage Numbers</button>
        <button onclick="window.location.href='/vehicle_weights'">View Vehicle Weights</button>
    </section>
    {% if role == 'admin' %}
        <section id="Admin Buttons">
            <h2>Admin Actions</h2>
            <button class="admin-button" onclick="window.location.href='/manage_entries'">Manage Entries</button>
            <button class="admin-button" onclick="window.location.href='/manage_checklists'">Manage Checklists</button>
            <button class="admin-button" onclick="window.location.href='/scrutineers'">View Scrutineers</button>
            <button class="admin-button" onclick="window.location.href='/add_official'">Add Officals</button>
            <button class="admin-button" onclick="window.location.href='/manage_officials'">Manage Officials</button>
            <button class="admin-button" onclick="window.location.href='/import_entries'">Import Entries</button>
            <h3>Database Purge</h3>
            <button class="admin-button" onclick="window.location.href='/purge_database'">PURGE ALL</button>
        </section>
    {% else %}
    {% endif %}
    <section id="logout">
        <h2>Logout</h2>
        <button class="auth-button" onclick="window.location.href='/logout'">Logout</button>
    </section>
</body>
</html> 